@define-color foreground #E5E9F0;
@define-color background #2E3440;
@define-color cursor #E5E9F0;

@define-color color0 #2E3440;
@define-color color1 #88C0D0;
@define-color color2 #BF616A;
@define-color color3 #5E81AC;
@define-color color4 #EBCB8B;
@define-color color5 #A3BE8C;
@define-color color6 #D08770;
@define-color color7 #E5E9F0;
@define-color color8 #4C566A;
@define-color color9 #88C0D0;
@define-color color10 #BF616A;
@define-color color11 #5E81AC;
@define-color color12 #EBCB8B;
@define-color color13 #A3BE8C;
@define-color color14 #D08770;
@define-color color15 #8FBCBB;
@define-color color15 #b4b0f8;
